/* src/app/globals.css */
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);
  --font-bodoni: var(--font-libre-bodoni);

  --color-midblue: #003064;
  --color-deepblue: #19324d;
  --color-creem: #fefbf1;
  --color-olive: #3f3603;
  --color-text: #003064;
  --color-text2: #534a0b;
  --color-white: #ffffff;
  --color-yellow: #fff100;
}

body {
  background-color: #ffffff;
  overflow-y: scroll;
  color: var(--color-text);
  font-family: var(--font-serif);
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ここを3にすれば3行で省略 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
