/* src/app/globals.css */
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);

  --color-base-dark: #003064;
  --color-base: #003064;
  --color-base2: #fefbf1;
  --color-base3: #584e13;
  --color-text: #003064;
}

body {
  background-color: #ffffff;
  overflow-y: scroll;
  color: var(--color-text);
}

/* 印刷時のリセット設定（先回りのリスクヘッジ） */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
