/* src/app/globals.css */
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);

  --color-midblue: #003064;
  --color-creem: #fefbf1;
  --color-olive: #584e13;
  --color-text: #003064;
  --color-white: #ffffff;
}

body {
  background-color: #ffffff;
  overflow-y: scroll;
  color: var(--color-text);
  font-family: var(--font-serif);
}

/* 印刷時のリセット設定（先回りのリスクヘッジ） */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
